<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Stok Ekranı</title>
    <meta charset="UTF-8">
    <link href="css/main-admin.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="css/menu_style.css">
    <link rel="stylesheet" type="text/css" href="css/main_style_default.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script src="script.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
</head>
<body>

<!--MENU-->
<div id='cssmenu'>
    <ul>
        <li id="n1" onclick="open_tag_1()"><a href='#'>Kullanıcı İşlem</a></li>
        <li id="n2" onclick="open_tag_2()"><a href='#'>Depo İşlem</a></li>
        <li id="n3" onclick="open_tag_3()"><a href='#'>Kullanıcı Depo Yetkinlendirme</a></li>
        <li id="n4" onclick="open_tag_4()"><a href='#'>Stok Kart İşlem</a></li>
        <li id="n5" onclick="open_tag_5()"><a href='#'>Depo Giriş İşlem</a></li>
    </ul>
</div>
<div class="row" style="height: 110px;width:2200px;background-color: rgb(128, 139, 150);">
    <div class="col-12">
        <div class="well well-sm">
            <div class="media">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-4">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="col-1">
                        <img src="profile-pic-64x.png" class="avatar"></a>
                    </div>
                    <div class="col-4" style="padding-left: 10px;padding-top: 8px">
                        <div class="media-body">
                            <h4 id="profileAdSoyad" class="media-heading" style="color:white;"></h4>
                            <p id="rolName" class="media-heading" style="color:white;"></p>
                            <p id="yetkiliDepolar" class="media-heading" style="color:white;"></p>
                            <button class="button-vue button1vue" onclick="goToLoginPage()">Çıkış</button>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--KULLANICI ISLEM-->
<div id="tag-1" class="page-wrapper p-t-230 p-b-100 font-poppins" style="background-color: #808B96;">
    <div class="row">
        <div class="col-4">
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Kullanıcı Kayıt</h2>
                        <form method="POST">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Ad</label>
                                        <input class="input--style-4" type="text" name="first_name" id="first_name">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Soyad</label>
                                        <input class="input--style-4" type="text" name="last_name" id="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">TCKN</label>
                                        <input class="input--style-4" type="text" name="tckn" id="tckn">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Kullanıcı Adı</label>
                                        <input class="input--style-4" type="text" name="kullanici_adi"
                                               id="kullanici_adi">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Şifre <i class="fa fa-eye" aria-hidden="true"
                                                                      onclick="showPass()"></i></label>
                                        <input id="passId" class="input--style-4" type="password" name="pass">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label class="label">Rol</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="subject" id="rol" class="input--style-4">
                                        <option disabled="disabled" selected="selected">Seçiniz</option>
                                        <option value="1">Ana Depo Sorumlusu</option>
                                        <option value="2">Bölüm Sorumlusu</option>
                                        <option value="3">Admin</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                            <div class="p-t-15" id="kullaniciKayitForm">
                                <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-6">
            <div class="wrapper wrapper--w860">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Kullanıcı Listesi</h2>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <div id="kullaniciListele">
                                        <div class="scrollit">
                                            <table>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Kullanıcı ID</th>
                                                    <th>TCKN</th>
                                                    <th>Rol</th>
                                                    <th>Adı Soyadı</th>
                                                    <th>Kullanıcı Adı</th>
                                                    <th>Şifre</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="kullanici in kullaniciList" :key="kullanici.id">
                                                    <td>{{kullanici.id}}</td>
                                                    <td>{{kullanici.tcNo}}</td>
                                                    <td>{{getRolName(kullanici.rolId)}}</td>
                                                    <td>{{kullanici.adSoyad}}</td>
                                                    <td>{{kullanici.kullaniciAdi}}</td>
                                                    <td>{{kullanici.sifre}}<i class="fa fa-eye" aria-hidden="true"
                                                                              onclick="showPass()"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DEPO ISLEM-->
<div id="tag-2" class="page-wrapper p-t-230 p-b-100 font-poppins" style="background-color: #808B96;">
    <div class="row">
        <div class="col-4">
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Depo Kayıt</h2>
                        <form method="POST">
                            <div class="row row-space" id="depo-kayit-panel-1">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Depo Adı</label>
                                        <input class="input--style-4" type="text" name="depo-adi" id="depo-adi-id">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Depo Kodu</label>
                                        <input class="input--style-4" type="text" name="depo-kodu" id="depo-kodu-id">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space" id="depo-kayit-panel-2">
                                <div class="input-group">
                                    <label class="label">Durum</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject" id="depo-durum-id" class="input--style-4">
                                            <option disabled="disabled" selected="selected">Seçiniz</option>
                                            <option value="1">Aktif</option>
                                            <option value="2">Pasif</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15" id="depoKayitForm">
                                <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-6">
            <div class="wrapper wrapper--w960">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Depo Listesi</h2>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <div id="depoListele">
                                        <div class="scrollit">
                                            <table>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Depo Adı</th>
                                                    <th>Depo Kodu</th>
                                                    <th>Durum</th>
                                                    <th>Oluşturma Tarihi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="depo in depoList" :key="depo.id">
                                                    <td>{{depo.depoAdi}}</td>
                                                    <td>{{depo.depoKodu}}</td>
                                                    <td>{{depo.durum==1?"Aktif":"Pasif"}}</td>
                                                    <td>{{depo.olusturmaTarihi}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--KULLANICI DEPO YETKILENDIRME-->
<div id="tag-3" class="page-wrapper p-t-230 p-b-100 font-poppins" style="background-color: #808B96;">
    <div class="row">
        <div class="col-4">
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Kullanıcı Depo Yetkilendirme</h2>
                        <form method="POST">
                            <div class="row row-space" id="depoYetkiPanel">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Kullanıcı</label>
                                        <input id="depoyetki-kullanici-id" type="text" v-model="user1"
                                               autocomplete="off" list="userList1"
                                               @change="getKullaniciList()" placeholder="Seçiniz">
                                        <datalist id="userList1">
                                            <option v-for="user1 in userList1">{{user1.id}} ({{user1.adSoyad}})</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Depo Kodu</label>
                                        <input id="depoyetki-depokodu-id" type="text" v-model="depo1" autocomplete="off"
                                               list="depoList1"
                                               @change="getDepoList()" placeholder="Seçiniz">
                                        <datalist id="depoList1">
                                            <option v-for="depo1 in depoList1">{{depo1.depoKodu}} ({{depo1.depoAdi}})
                                            </option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15" id="depoYetkilendirmeKayitForm">
                                <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-6">
            <div class="wrapper wrapper--w960">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Kullanıcı Depo Yetki Listesi</h2>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <div id="depoYetkilendirmeListele">
                                        <div class="scrollit">
                                            <table>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Kullanıcı ID</th>
                                                    <th>Kullanıcı Ad Soyad</th>
                                                    <th>Depo Adı</th>
                                                    <th>Depo Kodu</th>
                                                    <th>Oluşturma tarihi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="depoYetki in depoYetkiList" :key="depoYetki.id">
                                                    <td>{{depoYetki.kullaniciId}}</td>
                                                    <td>{{depoYetki.kullaniciAdiSoyad}}</td>
                                                    <td>{{depoYetki.depoAdi}}</td>
                                                    <td>{{depoYetki.depoKodu}}</td>
                                                    <td>{{depoYetki.olusturmaTarihi}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--STOK KART ISLEM-->
<div id="tag-4" class="page-wrapper p-t-230 p-b-100 font-poppins" style="background-color: #808B96;">
    <div class="row">
        <div class="col-4">
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Stok Kart Kayıt</h2>
                        <form method="POST">
                            <div class="row row-space" id="stok-kart-panel-1">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Stok Kodu</label>
                                        <input class="input--style-4" type="text" name="stok-kodu" id="stok-kodu-id">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Stok Adı</label>
                                        <input class="input--style-4" type="text" name="stok-adi" id="stok-adi-id">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space" id="stokKartPanel2">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Barkod</label>
                                        <input class="input--style-4" type="text" name="barkod" id="barkod-id">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Grup Kodu</label>
                                        <input id="grup-kodu-id" type="text" v-model="stokGrup1" autocomplete="off"
                                               list="stokGrupList1"
                                               @change="getStokGrupList()" placeholder="Seçiniz">
                                        <datalist id="stokGrupList1">
                                            <option v-for="stok1 in stokGrupList1">{{stok1.grupKodu}}
                                                ({{stok1.grupAdi}})
                                            </option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space" id="stok-kart-panel-3">
                                <div class="input-group">
                                    <label class="label">Durum</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject" id="stok-durum-id" class="input--style-4">
                                            <option disabled="disabled" selected="selected">Seçiniz</option>
                                            <option value="1">Aktif</option>
                                            <option value="2">Pasif</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15" id="stokKartKayitForm">
                                <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-6">
            <div class="wrapper wrapper--w960">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Stok Kart Listesi</h2>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <div id="stokKartListele">
                                        <div class="scrollit">
                                            <table>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Stok Kodu</th>
                                                    <th>Stok Adı</th>
                                                    <th>Barkod</th>
                                                    <th>Grup Kodu</th>
                                                    <th>Durum</th>
                                                    <th>Oluşturma Tarihi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="stok in stokKartList" :key="stok.id">
                                                    <td>{{stok.stokKodu}}</td>
                                                    <td>{{stok.stokAdi}}</td>
                                                    <td>{{stok.barkod}}</td>
                                                    <td>{{stok.grupKodu}}</td>
                                                    <td>{{stok.durum==1?"Aktif":"Pasif"}}</td>
                                                    <td>{{stok.olusturmaTarihi}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--DEPO GİRİŞ/ÇIKIŞ İŞLEM-->
<div id="tag-5" class="page-wrapper p-t-230 p-b-100 font-poppins" style="background-color: #808B96;width:2200px;">
    <div class="row"> &nbsp;</div>
    <div class="row">
        <div class="col-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Belge Kayıt</h2>
                        <div class="row row-space" id="belgeKayitForm1">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Depo Kodu</label>
                                    <input id="b-depo-kodu-id" type="text" autocomplete="off" v-model="depo2"
                                           list="depoList2"
                                           @change="getDepoList()" placeholder="Seçiniz">
                                    <datalist id="depoList2">
                                        <option v-for="depo2 in depoList2">{{depo2.depoKodu}} ({{depo2.depoAdi}})
                                        </option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Belge No</label>
                                    <input class="input--style-4" type="text" name="belge-no" id="b-belge-no-id">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space" id="belgeKayitForm2">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Belge Tarih</label>
                                    <input class="input--style-2" type="date" name="belge-tarih"
                                           id="b-belge-tarih-id">
                                </div>
                            </div>
                            <div class="col-2" id="firma-no-div-id">
                                <div class="input-group">
                                    <label class="label">Firma No</label>
                                    <input id="b-firma-no-id" type="text" v-model="firma" list="firmaList"
                                           @change="getFirmaList()" placeholder="Seçiniz">
                                    <datalist id="firmaList">
                                        <option v-for="firma in firmaList">{{firma.firmaNo}} ({{firma.firmaAdi}})
                                        </option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group" id="tur-div-id">
                                <label class="label">Tür</label>
                                <p id="belge-giris-p-id"></p>
                                <select name="subject" id="belge-tur-id" class="input--style-4">
                                    <option disabled="disabled" selected="selected">Seçiniz</option>
                                    <option value="1">Giriş</option>
                                    <option value="2">Çıkış</option>
                                </select>
                            </div>
                        </div>
                        <div class="p-t-15" id="belgeKayitForm">
                            <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="container">
                        <div id="belgeListele">
                            <div class="scrollit">
                                <table>
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Depo Kodu</th>
                                        <th>Belge No</th>
                                        <th>Firma No</th>
                                        <th>Belge Tarih</th>
                                        <th>Tür</th>
                                        <th>Oluşturma Tarihi</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="belge in belgeList" :key="belge.id">
                                        <td>&nbsp;</td>
                                        <td>{{belge.depoKodu}}</td>
                                        <td>{{belge.belgeNo}}</td>
                                        <td>{{belge.firmaNo}}</td>
                                        <td>{{belge.belgeTarihi}}</td>
                                        <td>{{belge.tur==1?"Giriş":"Çıkış"}}</td>
                                        <td>{{belge.olusturmaTarihi}}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-1">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-4">
            <!-- Belge Detay Kayıt Formu -->
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Belge Detay Kayıt</h2>
                        <div class="row row-space" id="belgeDetayForm">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Belge No</label>
                                    <input id="bd-belge-no-id" type="text" v-model="belge1" autocomplete="off"
                                           list="belgeList1"
                                           @change="getBelgeList()" placeholder="Seçiniz">
                                    <datalist id="belgeList1">
                                        <option v-for="belge1 in belgeList1">{{belge1.belgeNo}}</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Stok Kodu</label>
                                    <input id="bd-stok-kodu-id" type="text" v-model="stok1" autocomplete="off"
                                           list="stokList1"
                                           @change="getStokList()" placeholder="Seçiniz">
                                    <datalist id="stokList1">
                                        <option v-for="stok1 in stokList1">{{stok1.stokKodu}} ({{stok1.stokAdi}})
                                        </option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Barkod</label>
                                    <input class="input--style-4" type="text" name="barkod" id="bd-barkod-id">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adet</label>
                                    <input class="input--style-4" type="number" value="0" min="0" max="9999999"
                                           name="miktar" id="bd-miktar-id">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birim Fiyat</label>
                                    <div class="row">
                                        <div class="col-2">
                                            <input class="input--style-4" type="text" value="0.0" name="birim-fiyat"
                                                   id="bd-birim-fiyat-id">
                                        </div>
                                        <div class="col-2">
                                            <p class="input--style-4">TL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15" id="belgeDetayKayitForm">
                            <button class="btn btn--radius-2 btn--blue" onclick="ekleBelgeDetay()">Ekle</button>
                        </div>

                    </div>
                </div>
            </div>
            &nbsp;
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div>
                        <table>
                            <thead class="thead-dark">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Belge No</th>
                                <th>Stok Kodu</th>
                                <th>Barkod</th>
                                <th>Adet</th>
                                <th>Birim Fiyat(TL)</th>
                                <th>Toplam Fiyat(TL)</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="belge-detay-form-list-id">
                            </tbody>

                        </table>

                    </div>

                </div>
                <div class="p-t-15" id="belgeDetayKayitForm2">
                    <button class="btn btn--radius-2 btn--blue" v-on:click="save()">Kaydet</button>
                </div>
            </div>
        </div>
        <div class="col-1">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-4">
            <div class="wrapper wrapper--w980">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Belge Detay Listesi</h2>
                        <div class="row row-space" id="belgeDetayListele">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="scrollit">
                                        <table>
                                            <thead class="thead-dark">
                                            <tr>
                                                <th>Belge No</th>
                                                <th>Stok Kodu</th>
                                                <th>Barkod</th>
                                                <th>Adet</th>
                                                <th>Birim Tutar</th>
                                                <th>Toplam Tutar</th>
                                                <th>Oluşturma Tarihi</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="belgeDetay in belgeDetayList" :key="belgeDetay.id">
                                                <td>{{belgeDetay.belgeNo}}</td>
                                                <td>{{belgeDetay.stokKodu}}</td>
                                                <td>{{belgeDetay.barkod}}</td>
                                                <td>{{belgeDetay.adet}}</td>
                                                <td>{{belgeDetay.birimTutar}}</td>
                                                <td>{{belgeDetay.toplamTutar}}</td>
                                                <td>{{belgeDetay.olusturmaTarihi}}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
        </div>
    </div>

</div>
</body>
<script src="js/main.js"></script>
<script src="js/global.js"></script>
<script src="js/functions.js"></script>
</html>